*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    scroll-behavior: smooth;
    
}
html{
    height: -webkit-fill-available;
}

/* logos */
.fa-brands{
    color:#fbfbfb;
}

/* background */
body{
    background-color: #fbfbfb;
}

/* header */
.topbar{
    width: 120%;
    background-color: #924DBF;
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
}

/* background of each section */
.section{
    color: #fbfbfb;
    background-color: #111111;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 40px auto;
    width: 95%;
    padding-bottom: 100px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.welcome{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    padding-bottom: 40px;
}

/* border of image */
img{
    margin: 20px;
    border: 10px solid #924DBF;
    border-radius: 50%;
}
.logo{
    display: flex;
    justify-content: normal;
    max-width: 50%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    max-width: 70%;

}
.our_method{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}
.our_objectives{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    max-width: 100%;
}
a:link { 
    color: #fbfbfb;}
a:visited {
    color: #fbfbfb;
}
a:hover { 
    color: #fbfbfb;
}
a:active { 
    color: #fbfbfb; 
}
.knights{
    font-size: 1rem;
}
.title{
    padding-top: 20px;
    padding-bottom: 20px;
    color:#ffffff;
    font-style: normal;
    font-size: 2em;
}
.main_button{
    display: inline-block;
    background-color: #924DBF;
    color: #ffffff;
    border-width: 0px;
    border-radius: 6px;
    font-weight: bold;
    transition: opacity .15s;
}
.main_button#by-heart{
    font-size: 25px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.main_button.large{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.main_button.medium{
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-left: 40px;
    margin-right: 40px;
}
button:hover{
    opacity: .85;
    cursor: pointer;
}
.button_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #1a2849;
    text-align: center;
}
.fa-regular{
    background-color: #924DBF;
}
h1,h2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #083358;
    color: #fbfbfb;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 0px;
    padding: 10px;;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
#gh-icon{
    text-align: center;
    transition: opacity .15s;
}
#gh-icon:hover{
    opacity: .8;
    cursor: pointer;
}
table{
    color: #fbfbfb;
    width: 100%;
}
th{
    text-align: center;
    font-size: 20px;
}
td{
    color: #fbfbfb;
    text-align: center;
    transition: opacity .15s;
}
td:hover{
    opacity: .8;
    cursor: pointer;
}
.setbody{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputfields{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    
}
.inputfields label{
    padding-left: 5%;
}
.inputfields textarea{
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    width: 90%;
    max-width: 100%;
    border-radius: 5px;
    font-family: inherit;
    font-size: large;
    padding: 25px;
    margin-bottom: 10px;
    color: #1a2849;
    resize: none;
    height: 32px;
}
.setbuttons{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.flash_body{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
#flashcard{
    position: relative;
    background-color: lightgray;
    height: 300px;
    width: 550px;
    max-width: 100%;
    text-align: center;
    color: #1a2849;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.40);
    word-wrap: break-word;
    transform-style: preserve-3d;
    transition: all 0.4s ease;
    perspective: 1000px;
    margin: 30px;
}
#flashcard h3{
    position: absolute;
    bottom: 0;
    right: 43%;
    font-size: .8rem;
}
.front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    backface-visibility: hidden;
    text-align: center;
    gap: 30px;
}
.term{
    padding: 10px;
    font-size: 2rem;
}
.def{
    padding: 10px;
    font-size: 1.6rem;
}
.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    backface-visibility: hidden;
    text-align: center;
    gap: 30px;
    transform: rotateY(180deg);
}
.flipCard {
    transform: rotateY(180deg);
}
.leftarrow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.rightarrow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.arrow_button{
    background-color: rgba(0, 0, 0, 0);
    color:#fbfbfb;
    border: 0px;
}
.timer{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
}
